 <DOCTYPE! html>
    <html>
        <head>
            <meta charset="utf-8"/>
            <title>Git-Learning</title>
            <link href="css/LayoutLec1.css" type="text/css" rel="stylesheet"  />
        </head>
        <body>
            


            <img class="logo" src='images/logo3.png' alt="logo">
            <p class="header">
                <a class="header2" href="http://localhost:8080/Profile">Profile</a>
                <a class="header3" href="http://localhost:8080/">Log out<br></a>
            </p>
            <p class="navigation">
                <a class="nav1" href="http://localhost:8080/">Home</a>
                <a class="nav2" href="http://localhost:8080/">Lectures list</a>
                <a class="nav3" href="http://localhost:8080/Profile">Profile</a>
                <a class="nav4" href="http://localhost:8080/AboutUs">About Us</a>
            </p>


            <article class="side">
                    <h1 class="side">Why using Git?</h1>
                    <img class="gitlogo" src='images/gitlogo.jpg' alt="git">
                    <br>
                    <p>If you have already worked on a programming project in group, you probably have encountered problems such as modifications by someone,
                        but you don’t know who, or the impossibility to work on the same code at the same time. All these problems can be solved 
                        by a version-control system. And Git is one of it.
                    </p>
                    <br>
                    <h3>What is a version-control system?</h3>
                    <p>
                        A version-control system is a software mainly used by developers. It can track the evolution of a file and keep the old versions of it. 
                        But this tool differs from a backup software. Indeed, there are a lot of very useful functionality:
                        <ul>
                            <li>They can retain who did every modification and why</li>
                            <li>It is capable to merge the modifications of two users working on the same file at the same time.</li>
                        </ul>
                        <br>
                        To sum up, a version-control system can track the evolution of a code, can save every version of the file, and allows developers 
                        to work on the same file at the same time.<br>
                        There are a lot of different version-control system, like CVS, SVN or Mercurial. But Git is probably the most powerful of them.
                        There are two kind of version-control : distributed and centralized. A distributed version-control does not use any server.
                        Every developers own their own personal version of a file, and send it to the other as a peer-to-peer. A centralized version-control
                        uses a server where every version of the file is saved, and developers need to connect to the server to see modifications. But 
                        some of the distributed control-version uses a server to send the modification to the rest of the development group. And this is
                        how GIT works.
                    </p>
                    <br>
                    <h3>And what about Git?</h3>
                    <p>
                        Created by Linus Torvalds in 2005, Git is one of the most important version-control systems. Its goals include speed, data integrity
                        and support for distributed, non-linear workflows. CVS and SVN are older, and Git is probably faster and more flexible than the other 
                        version-control system.<br>
                        Moreover, it is possible to work with branches (parallel version of the same project) but the software is more intricate.    
                    </p>
                    <br>
                    <p>
                        Git is a must-have tool in a programming project, because it has a lot of game-changing functionalities. A particularity of Git is the 
                        existence of collaborative website such as GitHub. This is a social media for developers, with a huge community. This is an excellent way
                        to participate in projects and ask for help.
                    </p>
            </article>


            <article class="links">
                <h1>Useful links</h1>
            </article>


            <footer>
                <a class="f1" href="http://localhost:8080/ContactUs">Contact Us<br><br></a>
                <a class="f2" href="http://localhost:8080/Copyright">Copyright<br><br></a>
                <a class="f3" href="http://localhost:8080/Menu">Home<br></a>
                <p class="cr"> © Copyright E-learner 2019</p>
            </footer>
        </body>
        
    </html>
</DOCTYPE>