<DOCTYPE! html>
    <html>
        <head>
            <meta charset="utf-8"/>
            <title>Git-Learning</title>
            <link href="css/Layout.css" type="text/css" rel="stylesheet"  />
        </head>
        <body>
            


            <img class="logo" src='images/logo3.png' alt="logo">
            <p class="header">
                <a class="header2" href="http://localhost:8080/Profile">Profile</a>
                <a class="header3" href="http://localhost:8080/">Log out<br></a>
            </p>
            <p class="navigation">
                <a class="nav1" href="http://localhost:8080/">Home</a>
                <a class="nav2" href="http://localhost:8080/">Lectures list</a>
                <a class="nav3" href="http://localhost:8080/Profile">Profile</a>
                <a class="nav4" href="http://localhost:8080/AboutUs">About Us</a>
            </p>



            <article class="side">
                    <br>
                    <br>
                    <br>
                    <h1>Quiz : Why using GIT?</h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            </article>
            <article class="links">
                <h1>Useful links</h1>
            </article>
            <footer>
                <a class="f1" href="http://localhost:8080/ContactUs">Contact Us<br><br></a>
                <a class="f2" href="http://localhost:8080/Copyright">Copyright<br><br></a>
                <a class="f3" href="http://localhost:8080/Menu">Home<br></a>
                <p class="cr"> © Copyright E-learner 2019</p>
            </footer>
        </body>
    </html>
</DOCTYPE>