
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<link href="css/loginstyle.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="box">
		<h1>Create an Account</h1>
		<form action="/register" enctype="multipart/form-data" method="post">
			<div class="inputBox">
			<input type="text" name="user" required="">
			<label>username</label>
			</div>
            <div class="inputBox">
			<input type="password" name="pass" required="">
			<label>password</label>
			</div>

			<div class="inputBox">
           <input type="text" name="email" required="">
			<label>email</label>
			</div>
			<div class="inputBox">
			<input type="submit" value="Create">
			<input type="button" onclick="window.location.href = 'http://localhost:8080/';" value="Login"/>
 
		</form>
		</div>
	</body>
</html>
